.home-top {
  height: 20rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  font-size: rem;
}

.image-all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.image-top {
  max-width: 70%;
  width: 20rem;
  text-shadow: 5px 2px black;
}

.des-line {
  width: 5rem;
  height: 0.1rem;
  background-color: rgb(135, 135, 131);
  margin-left: 0.2rem;
}

.des-top {
  font-size: 1.5rem;
  font-weight: bold;
  width: 25rem;
  text-shadow: 1px 2px rgb(114, 250, 234);
}

.des-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28rem;
  margin-top: 1rem;
  font-weight: 100;
}
/* 
.home-text-top {
  padding: rem;
  margin-left: rem;
} */

.home-title {
  display: flex;
  justify-content: end;
  align-items: end;
  font-size: 2rem;
  font-weight: 400;
}

.home-sub-title {
  display: flex;
  justify-content: end;
  align-items: end;
  font-size: 3rem;
  color: red;
  font-weight: bold;
}

.offer-logo {
  max-width: 50%;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10rem;
  margin-bottom: -1rem;
}
